.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 13px 18px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo-text {
    font-weight: 700;
    line-height: 155%;
    max-width: 145px;
}

.header__actions {
    display: flex;
    gap: 16px;
}

.header__actions-button {
    cursor: pointer;
    display: flex;
}

.header__action-icon {

}
